// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,400;0,9..144,500;0,9..144,700;0,9..144,900;1,9..144,200;1,9..144,400;1,9..144,500;1,9..144,700;1,9..144,900&family=Rubik:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

$backgroundColour: #e8dfc4;
$borderColour: rgb(49, 49, 49);
$mainColour: rgb(255, 193, 23);

$headingFont: 'Fraunces', serif;
// $headingFont: 'Pirata One', cursive;
$textFont: 'Rubik', sans-serif;

$h1Weight: 900;
$h3Weight: 600;
