// Import Variables, Fonts and Mixins
@import "variables";

nav {
    
    font-size: 1.5em;

    .navbar-brand{
        font-weight: 900;
        font-family: $headingFont;
        font-size: 2em;
    }
}

body {

    .container{
        padding-top: 2em;
    }

    background-color: $backgroundColour;
    font-family: $textFont;

    h1{
        font-family: $headingFont;
        font-weight: 900;
    }

    article{
        padding-top: 2em;
    }
    
    .btn{
        // margin-top: 1em;
        // margin-left: 1em;

        .cancelBtn{
            margin-left: 1em;
        
        }

    }

    .imgBox{
        overflow: hidden;
        // padding: 2em;
        img{
            width: 100%;
            border-radius: 25px;
        }
    }
    
    .list-group{
        padding: 2em 0;  
    }
    
    .list-group-item{
        background-color: antiquewhite;
        border: none;
        border-bottom: 2px dotted rgba(47, 79, 79, 0.24);
    }


}

.homeTitle{
    font-size: 3em;
    font-weight: 900;
    margin-top: 3em;
    padding-bottom: 1em;
    text-align: center;
}

.barCard{
    .card-img-top{
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 300px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    h5{
        font-family: $headingFont;  
        font-weight: 900;
    }
    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.breweryDetails{    
    margin-top: 3em;
    .detailsHeader{
        margin-top: 2em;
        font-weight: 900;
    }
}

.errorMessage {
    h1 {
        font-weight: 900;
    }
    p{
        font-size: 1.3em;
    }
}


.input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.reviewBox{
    background-color: $borderColour;
    border-radius: 25px;
    padding: 2em;
    margin-bottom: 2em;
    color: $backgroundColour;

    h1{
        color: $mainColour;
    }

    label {
        color: rgba(255, 255, 255, 0.342);
    }

    textarea, textarea:focus {
        background-color: rgba(0, 0, 0, 0.747);
        border-color:rgba(0, 0, 0, 0);
        color: $backgroundColour;
    }
}

footer{
    padding: 2em;
}