// Import Variables, Fonts and Mixins
@import "variables";

.reviewCard {
    background-color: rgba(255, 251, 227, 0.514);
    border-radius: 15px;
    margin: 1.5em 0 !important;

    .star-rating {
        color: $mainColour;
        font-size: 1.5em;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.363);

    }

    .star-rating-blank {
        color: rgba(0, 0, 0, 0.363);
        font-size: 1.5em;
        -webkit-text-stroke: 1px;
        margin-left: -3px !important;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.363);
    }

    .userBox {
        h5 {
            font-family: $headingFont;
            font-weight: 700;
            letter-spacing: -.04em;
        }
    }

}

.reviewBox{
    background-color: $borderColour;
    border-radius: 15px;
    padding: 1.4em;
    margin: 2em 0 !important;
    color: $backgroundColour;

    h1{
        color: $mainColour;
    }

    label {
        color: rgba(255, 255, 255, 0.342);
    }

    textarea, textarea:focus {
        background-color: rgba(0, 0, 0, 0.747);
        border-color:rgba(0, 0, 0, 0);
        color: $backgroundColour;
    }
}

.submitCard {
    background-color: $borderColour;
    border-radius: 15px;

    color: $backgroundColour;

    h1{
        color: $mainColour;
    }

    label {
        color: rgba(255, 255, 255, 0.342);
    }

    textarea, textarea:focus {
        background-color: rgba(0, 0, 0, 0.747);
        border-color:rgba(0, 0, 0, 0);
        color: $backgroundColour;
    }
}


