<% layout('./layouts/boilerplate') %> 

<h1>Add a new Brewery</h1>

<form action="/breweries" method="POST">
  <div class="form-group mb-3">
    <label for="name">Brewery name:</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Brewery name">
  </div>
  <div class="form-group mb-3">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="Where can we find it?">
  </div>
  <div class="form-group mb-3">
    <label for="price">Price:</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="number" class="form-control" name="price" id="price" placeholder="0.00">
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="image">Image URL:</label>
    <input type="text" class="form-control" name="image" id="image" placeholder="What's the place look like?">
  </div>
  <div class="form-group mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="3" placeholder="Describe the joint."></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>


